# ################ ENV VARS TO HANDLE PORT #################
PORT=8000


# ################ ENV VARS TO HANDLE MONGODB #################
MONGODB_URI=mongodb+srv://username:password@cluster0.nyvnywq.mongodb.net


# ################ ENV VARS TO HANDLE CORS #################
CORS_ORIGIN = *  # add the frontend URL (more secure)


# ################ ENV VARS TO HANDLE JWT #################
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY = 10d


# ################ ENV VARS TO UPLOAD & DELETE FILES THROUGH CLOUDINARY #################
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret


# ################ ENV VARS TO SEND MAILS THROUGH MAILTRAP #################
SMTP_MAIL_HOST=your_smtp_mail_host
SMTP_MAIL_PORT=your_smtp_mail_port
SMTP_MAIL_USERNAME=your_smtp_mail_username
SMTP_MAIL_PASSWORD=your_smtp_mail_password
SMTP_SENDER_EMAIL=your_smtp_sender_email